<div ng-include="'views/left-frame.html'"></div>

<div class="content" >
    <div class="header">
        <h1 class="page-title">茶行天下管理员系统</h1>
        <ul class="breadcrumb">
            <li><a href="#!/home">主页</a> </li>
            <li class="active">功能介绍</li>
        </ul>
    </div>

    <div class="main-content">
        <!--<div ng-include="'views/bubblemenu.html'"></div>-->

        <div id="mainBubble" style="height: 561px;">
            <svg class="mainBubbleSVG" width="801.04" height="561"></svg>
        </div>

    </div>
    <div ng-include="'views/footer.html'"></div>

</div>
