<div ng-include="'views/left-frame.html'"></div>

<div class="content" >
    <div class="header">
        <h1 class="page-title">添加管理员</h1>
        <ul class="breadcrumb">
            <li><a href="#!/home">主页</a> </li>
            <li class="active">添加管理员</li>
        </ul>
    </div>

    <div class="main-content">
        <div class="row">
            <div  class="col-lg-2">
                <p>用户名</p>
            </div>
            <div  class="col-lg-6">
                <input  type="text" placeholder="请输入用户名" class="form-control span12" style="width: 50%;" ng-model="user.username" required >
            </div>
        </div>


        <div class="row">
            <div  class="col-lg-2">
                <p>手机号</p>
            </div>
            <div  class="col-lg-6">
                <input type="text" placeholder="请输入手机号" class="form-control span12" style="width: 50%;" ng-model="user.tel" required >
            </div>
        </div>


        <div class="row">
            <div  class="col-lg-2">
                <p>密码</p>
            </div>
            <div  class="col-lg-6">
                <input type="password"  placeholder="请输入密码" class="form-control span12 form-control" style="width: 50%;" ng-model="user.password" required  >
                <input type="password" placeholder="请再次输入密码" class="form-control span12 form-control"  style="width: 50%;margin-top: 3%;" ng-model="user.password2" required><br>
                <button ng-click="register()" type="submit" class="btn btn-primary" style="background-color: #428bca;width: 50%">添加</button>
            </div>
        </div>






        <!--<div class="dialog"  >-->
            <!--<div class="panel panel-default">-->
                <!--<p class="panel-heading no-collapse">添加管理员</p>-->
                <!--<div class="panel-body" >-->
                    <!--<form >-->
                        <!--<div class="form-group">-->
                            <!--<label>用户名</label>-->
                            <!--<input  type="text" placeholder="请输入用户名" class="form-control span12" ng-model="user.username" required >-->
                        <!--</div>-->
                        <!--<div class="form-group">-->
                            <!--<label>手机号</label>-->
                            <!--<input type="text" placeholder="请输入手机号" class="form-control span12" ng-model="user.tel" required >-->
                        <!--</div>-->
                        <!--<div class="form-group">-->
                            <!--<label>密码</label>-->
                            <!--<input type="password"  placeholder="请输入密码" class="form-control span12 form-control" ng-model="user.password" required  >-->
                        <!--</div>-->
                        <!--<div class="form-group">-->
                            <!--<label>密码确认</label>-->
                            <!--<input type="password" placeholder="请再次输入密码" class="form-control span12 form-control"  ng-model="user.password2" required>-->
                        <!--</div>-->
                        <!--<button ng-click="register()" type="submit" class="btn btn-primary pull-right" style="background-color: #428bca;width: 20%">添加</button>-->
                        <!--<div class="clearfix"></div>-->
                    <!--</form>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->

    </div>
    <div ng-include="'views/footer.html'"></div>

</div>



