<div ng-include="'views/left-frame.html'"></div>

<div class="content">
    <div class="header">
        <h1 class="page-title">茶农管理</h1>
        <ul class="breadcrumb">
            <li><a href="#!/home">主页</a> </li>
            <li><a href="#!/teaseller">茶农管理</a> </li>
            <li class="active">新建茶农</li>
        </ul>
    </div>
    <div class="panel-body" >
        <form >
            <div class="form-group">
                <label>用户名</label>
                <input  type="text" placeholder="请输入用户名" class="form-control span12" ng-model="user.username" required >
            </div>
            <div class="form-group">
                <label>手机号</label>
                <input type="text" placeholder="请输入手机号" class="form-control span12" ng-model="user.tel" required >
            </div>
            <div class="form-group">
                <label>密码</label>
                <input type="password"  placeholder="请输入密码(不少于8位)" class="form-control span12 form-control" ng-model="user.password" required  >
            </div>
            <div class="form-group">
                <label>密码确认</label>
                <input type="password" placeholder="请再次输入密码" class="form-control span12 form-control"  ng-model="user.password2" required>
            </div>
            <button ng-click="sellerRegister()" type="submit" class="btn btn-primary pull-right">添加</button>
            <div class="clearfix"></div>
        </form>
    </div>
</div>