<div  style="padding-top:12px">
    <div class="mynavbar"><a class="top-link" href="#">茶行天下</a>
    </div>
    <div class="selector">
     <div class="row" style="margin:0px">
      <div class="col-md-12">
        <p>
            筛选商品
        </p>
        <div class="row">
            <div class="filter clearfix">
                <span class="filter_name">价格</span>
                <ul>
                    <li><a id="price1" ng-click = "price(1)" class = "current">不限</a></li>
                    <li><a id="price2" ng-click = "price(2)" >0-20</a></li>
                    <li><a id="price3" ng-click = "price(3)" >20-50</a></li>
                    <li><a id="price4" ng-click = "price(4)" >50-100</a></li>
                    <li><a id="price5" ng-click = "price(5)" >100-200</a></li>
                    <li><a id="price6" ng-click = "price(6)" >200以上</a></li>
                </ul>
            </div>
            <div class="filter clearfix">
                <span class="filter_name">等级</span>
                <ul>
                    <li><a id="level1" ng-click = "clevel(1)" class = "current">不限</a></li>
                    <li><a id="level2" ng-click = "clevel(2)" >一般</a></li>
                    <li><a id="level3" ng-click = "clevel(3)" >中等</a></li>
                    <li><a id="level4" ng-click = "clevel(4)" >上等</a></li>
                </ul>
            </div>
            <div class="filter clearfix">
                <span class="filter_name">折扣</span>
                <ul>
                    <li><a id="discount1" ng-click = "cdiscount(1)" class = "current">不限</a></li>
                    <li><a id="discount2" ng-click = "cdiscount(2)" >9折以下</a></li>
                    <li><a id="discount3" ng-click = "cdiscount(3)" >7折以下</a></li>
                    <li><a id="discount4" ng-click = "cdiscount(4)" >5折以下</a></li>
                </ul>
            </div>
        </div>
      </div>
     </div>
    </div>
    <div class="row">
        <div ng-repeat="tea in teas | orderBy:'id'" class="col-md-3 col-sm-3 col-xs-3">
            <div class="row">
                <div>
                    <a ui-sref="main.detail({tea:tea.id})">
                    <img class="teapic" src="/api/image/getByUrl?url={{tea.url}}">
                    </a>
                    <table class="author" style="word-break:normal; word-wrap:break-all;">
                        <tr valign="top">
                            <td valign="top" style="padding-left:15px" >茶叶名:</td>
                            <td width="70%" ><span style="border-bottom:1px dashed rgb(176, 195, 48)" data-toggle="tooltip" data-placement="right" data-html="true">{{tea.name}}<span></td>
                        </tr>
                        <tr>
                            <td valign="top" style="padding-left:15px">产地:</td>
                            <td width="70%">{{tea.locality}}</td>
                        </tr>
                        <tr>
                            <td valign="top" style="padding-left:15px">价格:</td>
                            <td width="70%">{{tea.price}}元/两</td>
                        </tr>
                    </table>                                
                </div>  
            </div>
        </div>
    </div>
    <button ng-disabled="nowPage == 1" class="btn btn-list btn-w-md" ng-click="prev()">上一页</button>
    <input ng-model = "page" style="width:3%">
    <button class="btn btn-list btn-w-md" ng-click="jump()">跳转</button>
    {{nowPage}}
    /
    {{totalPage}}
    <button ng-disabled="nowPage >= totalPage" class="btn btn-list btn-w-md" ng-click="next()">下一页</button>
</div>