<ion-view view-title="注册">
	<ion-content class="has-header">
		<div style="margin-right: auto; margin-left: auto; width: 90%">
			<!--<img ng-src="{{portrait}}" ng-click="pickPortrait()" style="position:absolute; width: 80px; height: 80px; left:75%" alt="上传头像">-->
			<div class="green-bottom-border register-wrapper">
				<span>姓名:</span>
				<input type="text" placeholder="例如: 李明" ng-model="registerInfo.name">
			</div>


			<div class="green-bottom-border register-wrapper">
				<span>昵称:</span>
				<input type="text" placeholder="例如: 闵行茶叶大户" ng-model="registerInfo.nickname">
			</div>
			<div class="green-bottom-border register-wrapper">
				<span>手机号:</span>
				<input type="number" placeholder="你的手机号码" ng-model="registerInfo.tel">
			</div>
			<div class="green-bottom-border register-wrapper">
				<span>密码:</span>

					<input type="password" placeholder="输入你的密码" style="width:63% !important;"  ng-model="registerInfo.password" ng-show="passwordVisible == 0">
					<input type="text" placeholder="输入你的密码" style="width:63% !important;" ng-model="registerInfo.password" ng-show="passwordVisible == 1">

				<i style="font-size: 26px; display: inline-block;"
				   ng-class="{true:'ion-eye', false:'ion-eye-disabled'}[passwordVisible == 1]"
				   ng-style="{'color':(passwordVisible == 1?'#4AA53D':'#747474')}"
				   ng-click="passwordVisible = 1 - passwordVisible"></i>
			</div>
			<div class="green-bottom-border register-wrapper">
				<span>身份证号:</span>
				<input type="text" maxlength="18" minlength="15" placeholder="你的身份证号码" ng-model="registerInfo.idCard">
			</div>
			<div class="green-bottom-border register-wrapper">
				<span>地址:</span>
				<input select-address p="p" c="c" a="a" d="d" ng-model="registerInfo.address" placeholder="请选择地址" type="text">
			</div>
			<div class="green-bottom-border register-wrapper">
				<span>邮编:</span>
				<input type="number" placeholder="所在地邮编" ng-model="registerInfo.zip">
			</div>
			<div class="green-bottom-border register-wrapper">
				<span>类别:</span>
				<select style="height: 40px" ng-model="registerInfo.level">
					<option value="1" ng-selected="true">经销商</option>
					<option value="2" >个体</option>
				</select>
			</div>
			<div class="green-bottom-border register-wrapper" style="height:40px" ng-show="registerInfo.level==1">
				<span style="margin-top: 5px">营业许可证:</span>
				<!--<input type="file" ng-model="picture"/>-->
				<!--<img ng-src="{{certificate}}" style="width:270px;height:180px" ng-click="pickCertificate()">-->
				<button class="button button-balanced my-balanced"
				        ng-click="pickCertificate()"
				        style="width: 30%; height: 30px; font-size: 15px; min-height: 0; line-height: 0;">上传照片</button>
				<span class="badge badge-assertive" ng-show="certificateURI != undefined">图片已选择</span>
			</div>
			<div style="height: 20px; margin-top: 2%" ng-show="registerError.flag" ng-style="{'color':(registerError.info == '注册成功')?'#4AA53D':'red'}"><li>{{registerError.info}}</li></div>
			<button class="register-wrapper login-button button button-balanced my-balanced" ng-click="register()" ng-style="{'margin-top': (registerError.flag?'3%':'5%')}">注册</button>
		</div>
	</ion-content>
</ion-view>
